@font-face {
	font-family: TW-R;
	src: url('fonts/TitilliumWeb-Regular.ttf')
}

@font-face {
	font-family: TW-B;
	font-style: normal;
	font-weight: 700;
	src: url('fonts/TitilliumWeb-Bold.ttf');
}

@font-face {
	font-family: TW-Bl;
	src: url('fonts/TitilliumWeb-Black.ttf');
}

@font-face {
	font-family: Malaga;
	src: url('fonts/MalagaOT-RegItalic.otf')
}

@font-face {
	font-family: TW-SB;
	src: url('fonts/TitilliumWeb-SemiBold.ttf')
}

* {
	margin: 0;
	padding: 0;
	font-family: TW-R;
}

body {
	width: 1800px;
	height: 3140px;
	color: #858688;
}

header {
	padding: 72px 200px 0px 200px
}

h1 {
	display: inline-block;
	font-family: TW-B;
	font-size: 30px;
	margin-left: -1px;
	margin-right: 567px;
}

.header-nav {
	display: inline-block;
	margin-right: 49px;
}

.header-nav ul {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.header-nav ul li {
	position: relative;
	top: -4px;
	display: inline-block;
	list-style: none;
	margin-right: 23px;
}

.header-nav ul li a {
	text-decoration: none;
	color: black;
}

.header-nav ul li a:hover {
	text-decoration: underline;
	font-weight: bold;
}

.purple-text {
	color: #5b4295;
	font-family: TW-B;
}

button:hover {
	cursor: pointer;
	transform: translate(0px, -5px) scale(1.05);
	transition: 0.3s all ease;
}

button {
	border: none;
	background: none;
	transition: 0.3s all ease;
}


.log-in-btns {
	display: inline-block;
	margin-left: auto;
}

.btn-log-in {
	position: relative;
	top: -4px;
	font-family: TW-B;
	font-size: 16px;
	border: none;
	background: none;
}

.log-in-icon {
	color: #582c7e;
	padding-right: 8px;
}

.btn-sign-up {
	width: 95px;
	height: 40px;
	font-family: TW-B;
	font-size: 16px;
	color: white;
	background-image: linear-gradient(to top left, #6276cd, #582c7e);
	border-radius: 20px;
	margin-left: 19px;
	position: relative;
	top: -2px;
}

.btn-sign-up:hover {
	box-shadow: 0 10px 20px 0px #6276cd;
}

.language-list {
	font-size: 14px;
	transition: 0.2s all ease;
	margin-left: -1px;
	margin-top: 10px;
	}

	.slash {
		margin-left: 7px;
		margin-right: 7px;
}


.language-list>input {
	display: none;
}

.language-list label:hover,
#language-list1:checked+label,
#language-list2:checked+label,
#language-list3:checked+label,
#language-list4:checked+label {
	cursor: pointer;
	letter-spacing: 0.8px;
	transition: 0.2s all ease;
	font-weight: bold;
	border-bottom: 1px solid #858688;
	transform: translate(0px, 3px);
}

.top-info {
	width: 1800px;
	height: 766px;
	background-image: url(img/header-bg-1.png);
	background-position: 0 -297px;
	}

	.top-info h2 {
		font-family: TW-SB;
		font-size: 60px;
		text-align: center;
		word-spacing: -1px;
		letter-spacing: 0.7px;
		margin-top: 146px;
		margin-left: -1px;
	}

	.top-info p {
		font-size: 36px;
		text-align: center;
		margin-top: -7px;
		letter-spacing: 0.5px;
	}

	.red-text {
		color: red;
	}


	.top-btns {
		width: 602px;
		height: 57px;
		background-image: url(img/create-bg.png);
		background-position: 0 23px;
		background-repeat: no-repeat;
		margin-left: 588px;
		margin-top: 65px;
	}


	.create-btn {
		font-family: TW-B;
		font-size: 18px;
		color: white;
		height: 57px;
		width: 246px;
		border-radius: 28px;
		background-image: linear-gradient(to right, #646c92, #582c7e);
		margin-right: 22px;
		margin-left: 120px;
	}

	.apple-btn {
		font-size: 22px;
		color: white;
		height: 46px;
		width: 46px;
		border-radius: 23px;
		background-color: #582c7e;
		margin-right: 17px;
		margin-top: 5px;
	}

	.google-btn {
		font-size: 22px;
		color: white;
		height: 46px;
		width: 46px;
		border-radius: 23px;
		background-color: #582c7e;
	}

	.create-btn:hover,
	.apple-btn:hover,
	.google-btn:hover {
		box-shadow: 0 10px 20px 0px #6276cd;
}


.temp {
	height: 1000px;
	width: 1800px;
}


footer {
	height: 600px;
}